* {
    font-family:'Tajawal', sans-serif;
    scroll-behavior: smooth;
}

.main-div {
    border-radius: 10px;
    height: 155px;
    text-align: right;

    
}
.top-row{
    padding: 3px;
    
}

.top-row .detail-title {
    font-size: 0.8rem;
    
}

.top-row .detail-text {
    font-size: 1rem;
    color: rgb(173, 171, 171);
}