html body {
}


.main {
    
    border: 0.3px solid black;
    border-radius: 10px;
    
}
.top-row{
    padding: 10px;
}
.top-row div {
    font-size: 2.7rem;
    font-family: 'Tajawal', sans-serif;
}

.main-row {

}

.right-col {

    height: fit-content;
    
}

.left-col {
    height: fit-content;
}