html body {
}


.main {
    height: fit-content;
    border-radius: 10px;
    
}
.top-row{
    padding: 10px;
}
.top-row div {
    font-size: 2.7rem;
    font-family: 'Tajawal', sans-serif;
}

.main-row {

    display: flex;
    justify-content: center;
    align-items: center;
}

.right-col {

    height: fit-content;
    
}

.left-col {
    height: fit-content;
}