html body {
}


.main {
    
    border: 1px solid black;
}
.top-row{
    padding: 10px;
}
.top-row div {
    font-size: 2.7rem;
    font-family: 'Tajawal', sans-serif;
}

.main-row {

}

.right-col {
    border: 1px solid rebeccapurple;
    height: fit-content;
    
}

.left-col {
    border: 1px solid rebeccapurple;
    height: fit-content;
}