.main {
    width: 100%;
    height: auto;
    padding: 10px;
}

.newTask-header {
    width: 100%;
    height: fit-content;
    padding: 10px;
}

.head-btn {
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: 2rem;
    border: none;
}





fieldset {
    border: none;
}